/* ROOT VARIABLES */
:root {
  /* PROFILE */
  --profile-color: #36fba1;

  /* GRAY COLOR CODES */
  --gray-fifty: #656266;
  --gray-hundred: #616161;
  --gray-twoHundred: #322f33;
  --gray-threeHundred: #1c181d;

  /* FONT COLOR CODES */
  --light: #e3e3e3;
  --mid: #616161;
  --dark: #475467;

  /* STROKE COLOR CODES */
  --stroke200: #ebebeb;
  --light-stroke: #000000/7%;
  --dark-stroke: #FFFFFF/20%;

  /* STATE COLOR CODES */
  --hover: #f7f7f7;
  --pressed: #f0f0f0;
  --focused: #005bd3;

  /* PLAIN COLOR CODES */
  --white: #ffffff;
  --background: #f1f1f1;

  /* FONT SIZE 12PX */
  --font-size-small: 12px;
  --font-size-medium: 13px;
  --font-size-large: 14px;
  --icon-size: 20px;

  /* FONT WEIGHT 12PX */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
}

/* GLOBAL STYLES */
html,
body {
  font-family: "Inter", sans-serif;
  background-color: var(--background);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

/* SKELETON LOADING EFFECT */
.skeleton {
  position: relative;
}

.skeleton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: linear-gradient(90deg, #e7e5e5, #f3f2f2, #e7e5e5);
  background-size: 200%;
  animation: skeleton 1s infinite reverse;
}

@keyframes skeleton {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

/* BUTTON STYLES */
button {
  border: none;
}

/* NAVBAR STYLES */
.navbar {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 12px 16px;
  background-color: var(--gray-threeHundred);
}

/* search-bar STYLES */
.search-bar {
  display: flex;
  width: 80%;
  padding: 4px 8px;
  align-items: center;
  gap: 6px;
  border-radius: 8px;
  border: 1px solid var(--gray-hundred);
  background: var(--gray-twoHundred);
}

.search-bar:hover {
  outline: 2px solid var(--hover);
}

.search-bar > input:focus {
  border: none;
  outline: none;
}

.search-bar:focus,
.search-bar:focus-visible
 {
  outline: 2px solid var(--white);
}


.search-bar > .search-barBtn > svg {
  color: var(--white);
  background: transparent;
  cursor: pointer;
}

.search-bar > input {
  width: 100%;
  background: transparent;
  border: none;
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-medium);
  outline: none;
  color: var(--background);
}


.search-barBtn{
  background: none;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
}

.search-barBtn:focus-visible{
  border: 1px solid var(--white);
  outline: 1px solid var(--white);
}

/* ICON CONTAINER STYLES */
.icons {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

/* NOTIFICATION BUTTON STYLES */
.notifyButton {
  color: var(--white);
  border-radius: 10px;
  background-color: var(--gray-twoHundred);
  border: 2px solid var(--gray-twoHundred);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
}

.notifyButton:focus{
  outline: 1px solid var(--focused);
}

.notifyIcon {
  width: 32px;
  height: 32px;
}

.notifyButton:hover {
  cursor: pointer;
}

/* DROPDOWN CONTAINER STYLES */
.dropDown-container {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 8px;
}

/* USER INFO STYLES */
.userInfo {
  width: 95%;
  display: flex;
  padding: 2px 2px 2px 8px;
  align-items: center;
  gap: 8px;
  height: 40px;
  border-radius: 8px;
  background: var(--background);
  margin-bottom: 4px;
  position: relative;
  margin: 2px;
}

.userInfo:hover {
  cursor: pointer;
  background: var(--hover);
}

.userInfo:focus {
  cursor: pointer;
  background: var(--hover);
}
.userInfo:focus-visible {
  cursor: pointer;
  background: var(--hover);
  outline: 2px solid var(--focused);
}

/* DROPDOWN STYLES */
.dropDown {
  display: flex;
  padding: 2px 2px 2px 8px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--gray-twoHundred);
  border: 2px solid var(--gray-twoHundred);
}

.dropDown:hover,
.notifyButton:hover {
  cursor: pointer;
  background: var(--gray-fifty);
  border: 2px solid var(--gray-fifty);
}

.dropDown:focus,
.notifyButton:focus {
  cursor: pointer;
  outline: 2px solid var(--focused);
}

.dropDown > p {
  color: #e3e3e3;
  font-size: var(--font-size-medium);
}

.dropDown > span,
.userInfo span {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: var(--profile-color);
}

.userInfo span {
  color: var(--gray-fifty);
}

.userInfo p {
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-medium);
}

/* SPOTIFY LOGO STYLES */
.spotify-logo {
  float: left;
}

/* MOBILE/DESKTOP IMAGE STYLES */
.mobile-image {
  display: none;
}

.desktopImage {
  display: block;
}

/* PROFILE BUTTON STYLES */
.profileBtn {
  display: none;
  cursor: pointer;
}

/* CONTAINER STYLES */
.container {
  display: flex;
  width: 100%;
  padding: 50px 0;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin: 0 auto;
}

/* MONTHLY PLAN CONTAINER STYLES */
.monthlyPlanContainer {
  width: 60%;
  padding: 12px 16px;
  border-radius: 10px;
  background-color: var(--gray-threeHundred);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  position: relative;
}

.monthlyPlanContainer > p {
  color: var(--white);
  font-size: var(--font-size-medium);
}
.monthlyPlanContainer > p:focus-visible,
.monthlyPlanContainer > svg:focus-visible
{
  outline: 2px solid var(--dark);
}

.monthlyPlanContainer > a {
  display: flex;
  padding: 6px 12px;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px -1px 0px 0px #b5b5b5 inset;
  margin-right: 50px;
  background-color: var(--white);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-regular);
  cursor: pointer;
  color: #000000;
  text-decoration: none;
  margin-left: 12px;
}

.monthlyPlanContainer > a:hover {
  background-color: var(--background);
}

.monthlyPlanContainer > a:focus {
  background-color: var(--background);
}

.monthlyPlanContainer > a:focus-visible {
  outline: 2px solid var(--focused);
  background-color: var(--white);
}

.monthlyPlanContainer > svg {
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  right: 0;
  padding-right: 10px;
  cursor: pointer;
  width: 30px;
  outline: none;
}

/* DROPDOWN MENU STYLES */
.dp {
  position: relative;
  display: inline-block;
}

.dropdown-menu,
.dropdownMenuMobile {
  width: 300px;
  display: none;
  position: absolute;
  background-color: var(--white);
  border: 1px solid var(--hover);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  min-width: 100%;
  top: 140%;
  right: 0;
  z-index: 5;
  border: 2px solid var(--white);
  transition: all 0.5s;
  border-radius: 10px;
}

.dropdownMenuMobile:focus{
  outline: 2px solid var(--dark);
}

/* NOTICE BOX DROPDOWN STYLES */
.noticeBox-dropDown {
  width: 350px;
  min-width: 100%;
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: var(--white);
  border: 1px solid var(--hover);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  min-width: 100%;
  top: 140%;
  right: 0;
  z-index: 5;
  border: 2px solid var(--white);
  transition: all 0.5s;
  border-radius: 10px;
}

.dropdown-menu:focus,
.noticeBox-dropDown:focus{
  outline: 2px solid var(--gray-fifty);
}

.alertSvgIcons:focus{
  outline: 1px solid var(--gray-fifty);
  border: 1px solid var(--gray-fifty);
}

.dropdown-menu a,
.dropdownMenuMobile a {
  border-radius: 10px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: var(--font-size-large);
  margin: 2px;
}

.dropdown-menu a:hover,
.dropdownMenuMobile a:hover {
  background-color: var(--hover);
}

.dropdown-menu a:focus,
.dropdownMenuMobile a:focus {
  background-color: var(--hover);
}

.dropdown-menu a:focus-visible,
.dropdownMenuMobile a:focus-visible {
  background-color: var(--hover);
  outline: 2px solid var(--focused);
}

/* CHECK PROFILE ICON STYLES */
.checkProfileIcon {
  float: right;
  position: absolute;
  right: 8px;
}

/* STORES ICON STYLES */
.storesIcon {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background: transparent;
  border: 2px solid transparent;
  margin: 2px;
  width: 98%;
}

.storesIcon:hover {
  background-color: var(--hover);
  cursor: pointer;
}

.storesIcon:focus
{
  background: var(--background);
  cursor: pointer;
}
.storesIcon:focus-visible
{
  outline: 2px solid var(--focused);
  background: var(--background);
  cursor: pointer;
}

.storesIcon a {
  background: transparent;
}

.storesIcon a:focus{
  outline: 2px solid var(--dar);
  border: none;
}

/* HORIZONTALLY ROLLED STYLES */
.horizonRol {
  background: var(--background);
  padding: 1px;
  margin: 2px;
}

/* PROFILE BOX STYLES */
.profileBox {
  display: flex;
  flex-direction: column;
}

.profileBox h4 {
  margin: 0 0 2px 0;
}

/* EMAIL SPAN STYLES */
.emailSpan {
  color: var(--gray-fifty);
}

/* ALERT BOX STYLES */
.alertBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.alertBox p {
  color: var(--gray-twoHundred);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-semibold);
}

.alertText {
  padding: 16px 1px;
  background-color: var(--background);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-medium);
  width: 100%;
  color: var(--gray-fifty);
  text-align: center;
}
.alertText:focus{
  outline: 1px solid var(--dark);
  border: 1px solid var(--dark);
}

/* ACCORDION BOX STYLES */
.accordionBox {
  width: 60%;
  border-radius: 10px;
  padding: 12px 16px;
  box-shadow: 0 2px 4px 0 var(--background);
  border-radius: 10px;
  border: 2px solid var(--background);
  align-self: center;
  background-color: var(--white);
}

.accordionBox:focus-visible{
  outline: 2px solid var(--dark);
}

#accordionCard {
  border: 2px solid var(--background);
  margin: 0;
  padding: 0;
}

#accordion {
  margin: 0;
  padding: 0;
}

#accordion li label:focus-visible{
  outline: 2px solid var(--dark);
}

/* ACCORDION HEADER STYLES */
.accordionHeader {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.accordionHeader h4 {
  padding-left: 8px;
  margin: auto 0;
  font-size: var(--font-size-medium);
  text-align: center;
}
.accordionHeader h4:focus-visible {
  outline: 2px solid var(--dark);
}

/* CONTENT STYLES */
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding-left: 24px;
}

.content div {
  width: 68%;
}
.content img {
  font-size: var(--font-size-small);
}
.content img:focus-visible,
.content div p:focus-visible
{
  outline: 2px solid var(--dark);
}

.content div p {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-medium);
}

.content div p a {
  color: var(--focused);
  text-decoration: none;
}
/* BUTTON STYLES WITHIN CONTENT DIV */
.content div div button:nth-child(1) {
  padding: 8px;
  border-radius: 10px;
  background: var(--gray-twoHundred);
  color: var(--white);
  cursor: pointer;
  border: 2px solid var(--gray-fifty);
}

.content div div button:nth-child(1):hover {
  background-color: var(--gray-threeHundred);
}

.content div div button:nth-child(1):focus-visible {
  outline: 2px solid var(--focused);
  background: var(--gray-fifty);
}
.content div div button:nth-child(1):focus {
  background: var(--gray-threeHundred);
}

.content div div button:nth-child(2) {
  padding: 8px;
  margin-left: 4px;
  background: transparent;
  border-radius: 10px;
  border: 2px solid transparent;
  cursor: pointer;
}

.content div div button:nth-child(2):hover {
  background-color: var(--hover);
}

.content div div button:nth-child(2):focus {
  background-color: var(--hover);
}
.content div div button:nth-child(2):focus-visible {
  outline: 2px solid var(--focused);
  background-color: var(--white);
}

/* ACCORDION LIST ITEM STYLES */
#accordion li {
  list-style: none;
  width: 100%;
  margin: 0 0 10px 0;
  border-radius: 4px;
  padding: 8px 0;
  transition: background-color 0.3s ease-in-out;
}

#accordion li.active {
  background-color: var(--background);
}

#accordion li:focus {
  background: var(--background);
}

/* ACCORDION CARD LIST ITEM STYLES */
#accordionCard li {
  list-style: none;
  width: 100%;
  margin-bottom: 10px;
  background: var(--white);
  border-radius: 4px;
}

/* ACCORDION LABEL STYLES */
#accordion li label,
#accordionCard li label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-regular);
  cursor: pointer;
  color: var(--gray-threeHundred);
  padding: 4px;
}

/* ACCORDION INPUT STYLES */
#accordion label + input[type="radio"],
#accordionCard label + input[type="radio"] {
  display: none;
}

/* ACCORDION CONTENT STYLES */
#accordion .content,
#accordionCard .content {
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

#accordion label + input[type="radio"]:checked + .content,
#accordionCard label + input[type="radio"]:checked + .content {
  max-height: 400px;
}

#accordion label + input[type="radio"]:checked + #accordion > li,
#accordionCard label + input[type="radio"]:checked + #accordionCard > li {
  background: var(--background);
}

/* ACCORDION BUTTON STYLES */
.accordion-button {
  width: 100%;
  text-align: left;
  border: none;
  background: var(--white);
  cursor: pointer;
  outline: none;
  transition: 0.3s;
  position: relative;
  padding-bottom: 16px;
}

.accordion-button:focus-visible{
  outline: 2px solid var(--dark);
}

.accordion-button h4,
.accordion-button p {
  margin: 0;
  padding: 2px;
}

.accordion-button h4 {
  font-size: var(--font-size-large);
  color: var(--gray-threeHundred);
}

/* ACCORDION CONTENT STYLES */
.accordion-content {
  display: none;
  background-color: var(--white);
}
.accordion-content:focus-visible {
  outline: 2px solid var(--dark);
  border: none;
}

/* ARROW ICON STYLES */
.arrow {
  content: "\25BE";
  font-size: 20px;
  position: absolute;
  top: 25%;
  right: 10px;
  transform: translateY(-10%);
  transition: transform 0.3s;
  padding: 2px;
  background: var(--background);
  border-radius: 5px;
  align-items: center;
  display: flex;
}

.arrow:focus-visible{
  outline: 2px solid var(--dark);
}

.accordion-button.active .arrow {
  transform: rotate(180deg);
  background: var(--white);

}

/* IMAGE CONTAINER STYLES */
.svgCheckBox {
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: none;
  background: none;
}

.svgCheckBox svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  transition: opacity 0.2s ease-in-out;
}

.svgCheckBox h4{
  font-size: var(--font-size-small);
}

.svgCheckBox .productImage {
  opacity: 1; /* Display the product image initially */
}

.svgCheckBox .spinnerImage {
  display: none;
  animation: spin .6s linear infinite;
}

.svgCheckBox .checkmarkImage {
  animation: spinCheckSvg .2s linear;
  display: none;
}

/* PROGRESS STYLES */
.progress {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  margin: auto 0;
}

.progressBox {
  width: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: var(--background);
  height: 5px;
  margin-top: 6px;
  border-radius: 10px;
}

.progress-bar {
  height: 5px;
  border-radius: 10px;
  background-color: var(--background);
  position: relative;
}

.progress-text{
  padding: 0;
  margin: 0;
  float: right;
  text-align: end;
}

.backgroundProgress {
  height: 5px;
  width: 100%;
  border-radius: 10px;
  padding: 0 20px;
  top: 0;
  left: 0;
  visibility: hidden;
}

.progress-bar div {
  height: 5px;
  width: 10px;
  border-radius: 10px;
  background-color: var(--gray-threeHundred);
}

.progress-bar.active {
  background-color: var(--gray-threeHundred);
  transition: width 0.2s ease-in-out;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spinCheckSvg {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@media only screen and (max-width: 425px) {
.container{
  padding: 15px 0 30px 0;
}

  .logo {
    width: 70px;
    padding: 0 10px;
  }

  .mobile-image {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    left: 20px;
  }

  .search-bar {
    width: calc(100% + 20px);
  }

  .search-bar input {
    width: calc(100% + 100% + 100%);
    font-size: var(--font-size-large);
  }

  .monthlyPlanContainer {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 0;

  }

  .monthlyPlanContainer > p {
    padding: 12px;
    width: 80%;
    margin: 0;
  }
  .monthlyPlanContainer > button {
    margin: 12px;
  }

  .monthlyPlanContainer > svg {
    position: absolute;
    top: 35%;
    right: -3px;
    cursor: pointer;
  }

  .dropdownMenuMobile {
    right: -5px;
  }

  .accordionBox {
    width: 100%;
    border-radius: 0;
    padding: 0;
  }

  .accordion-button {
    padding: 8px;
  }

  .accordion-button p {
    padding-top: 8px;
  }

  .accordion-content {
    padding: 0;
  }

  #accordion li {
    padding: 8px;
  }

  .arrow {
    top: 15%;
  }

}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .mobile-image {
    display: block;
    width: 50px;
  }
  .search-bar {
    width: calc(100% + 20px);
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    display: flex;
    gap: 4px;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .dropDown {
    display: none;
  }
  .icons {
    gap: 2px;
  }

  .mobile-image {
    display: block;
    width: 50px;
  }

  .desktopImage {
    display: none;
  }

  .profileBtn {
    display: flex;
    padding: 6px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background: var(--profile-color);
    font-size: var(--font-size-small);
    border: none;
    cursor: pointer;
  }

  .search-bar {
    height: 30px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .search-barBtn{
    position: absolute;
    width: 20px;
    height: 20px;
  }

  .search-bar .search-barBtn svg {
    padding: 0;
    left: 10px;
    width: 20px;
    height: 20px;
    color: var(--white);
    background: transparent;
  }

  .search-bar input {
    padding-left: 30px;
    /* width: calc(100% + 40px); */
  }

  .notifyIcon {
    color: var(--white);
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: transparent;
    padding: 2px;
  }

  .notifyButton {
    background-color: transparent;
    border: 2px solid transparent;
   
  }

  .dropDown-container {
    width: 100px;
    gap: 4px;
  }
  .content {
    flex-direction: column;
    padding-left: 8px;
  }
  .content img {
    display: none;
  }
  .content div {
    width: 90%;
  }
}

@media screen and (max-width: 320px) {
  .noticeBox-dropDown {
    width: calc(100% + 220px);
    right: -40px;
  }
}
@media screen and (min-width: 321px) and (max-width: 425px) {
  .noticeBox-dropDown {
    width: calc(100% + 250px);
    right: -40px;
  }
}
@media screen and (min-width: 426px) and (max-width: 768px) {
  .search-bar input{
    width: calc(100% + 100% + 100% + 60%);
  }
}